@charset "utf-8";
/* CSS Document */
body {
	font family:"Calibri";
	font size: 20px;
	background:url(../imagens/verde.png);
	background-attachment:fixed;

	}

	
#conteudo { width:1022px;
 			height:1100px;
 			background:#FFF;
			background-position:center;
			margin:0 auto; 
			}
