@charset "utf-8";
/* CSS Document */
body {
	font family:"Calibri";
	font size: 20px;
	color:#000;
	background:#0F0;
	background-attachment:fixed;

	}

	
#conteudo { width:1022px;
 			height:1100px;
 			background:#FFF;
			background-position:center;
			margin:0 auto; 
			}
